<html>
    <head>
        <style>
            center{
                color: white;
            }
            body{
                background-color: rgb(34, 32, 32);
            }
        </style>

    </head>
    <body>
        <br><br><br><br><br><br><br><br><br><br>
        
        <center><h2>CHECK EMAIL OR PASSWORD<br> <br></be><a href="http://localhost:3000/loginPage"><h1>Log in </h1></a> </h2></center>
    </body>
</html>
