<html>
    <head>
        <title>Password Reset</title>
        <style>
            #e{
                color: rgb(21, 32, 239);   
                font-size: x-large
            }
            b{
                color:rgb(215, 209, 35);
            }
            #em:hover{   
                background-color: rgb(183, 170, 32);
            } 
            
            #Email {
            color:aliceblue;
            background-color: rgb(206, 45, 45);
            }

            body{
                background-color: rgb(31, 30, 38);
            }
            
        </style>
    </head>
    <body>
        <form>
            <table align="center">
            
                <tr>
                    <th>
                        <h1 id="em"><b> Forgot Password </b> </h1>
                    </th>
                </tr>
                <tr>
                    <td style="background-color: rgb(31, 30, 38)" height="100" id="Email">Reset link will be sent to email</td>
                </tr>
                        
                        <tr align="">
                            <td id="e">Email Address :</td><br>
                        </tr>
                        <tr align="center">
                            <td><input type="text" name="email" placeholder="Enter email" size="50"></td>
                        </tr>
                        <tr>
                            <td align="center" id="button"><button type="submit" value="Submit" style="background-color:skyblue ; color:rgb(34, 26, 26)">Submit</button></td>
                        </tr>

                    
                

            </table>
        </form>
    </body>
</html>