<html>
    <head>
        <style>
            h1{
                color: rgb(17, 17, 17);

            }
            body{
                background-color: rgb(242, 242, 242);
            }
            #ww{
             background-color: rgb(76, 225, 227);  
             color: aliceblue;
             width: 250;
             height: 50; 
            }
        </style>

    </head>
    <body>
        <h1 align="center">REGISTRATION SUCCESSFULL</h1><br>

        <a href="http://localhost:3000/loginPage">
            <center><button  type="button" onclick="loginPage" id="ww" ><h3>LOGIN</h3></button></center></a>
    </body>
</html>